<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN" "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">
<generatorConfiguration>
    <!-- 2.指定数据库jar驱动的物理位置, 本地相关. -->
    <classPathEntry location="/home/wiflish/dev/repository/m2/repository/mysql/mysql-connector-java/5.1.15/mysql-connector-java-5.1.15.jar" />
    <classPathEntry location="target/classes" />

    <context id="typeHandlerTables" targetRuntime="MyBatis3">
        <commentGenerator>
            <property name="suppressAllComments" value="true" />
        </commentGenerator>

        <jdbcConnection driverClass="com.mysql.jdbc.Driver" connectionURL="jdbc:mysql://localhost/bulk?useUnicode=true&amp;characterEncoding=utf8"
            userId="root" password="" />

        <javaModelGenerator targetPackage="org.bulkframework.core.domain.typehandler" targetProject="MAVEN">
            <property name="enableSubPackages" value="false" />
            <property name="rootClass" value="org.bulkframework.common.model.BaseModel" />
        </javaModelGenerator>

        <sqlMapGenerator targetPackage="mapper" targetProject="MAVEN">
            <property name="enableSubPackages" value="false" />
        </sqlMapGenerator>

        <javaClientGenerator type="XMLMAPPER" targetPackage="typehandler" targetProject="MAVEN">
            <property name="enableSubPackages" value="false" />
        </javaClientGenerator>

        <table tableName="t_user" domainObjectName="User" enableSelectByExample="false" enableDeleteByExample="false" enableCountByExample="false"
            enableUpdateByExample="false" />
    </context>
</generatorConfiguration>
