<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <typeHandlers>
        <typeHandler handler="org.bulkframework.core.dao.mybatis.typehandler.FeatureJsonTypeHandler" javaType="org.bulkframework.common.model.BaseFeatureJson" />
    </typeHandlers>
</configuration>