<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="UserMapper" >
  <resultMap id="BaseResultMap" type="User" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="feature_json" property="featureJson" jdbcType="VARCHAR" />
    <result column="feature_bit" property="featureBit" jdbcType="BIGINT" />
    <result column="status" property="status" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, update_time, create_time, username, password
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from activity
    where id = #{id,jdbcType=INTEGER}
  </select>
  <update id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    update activity
    set status=-1
    where id = #{id,jdbcType=INTEGER}
  </update>
  <insert id="insert" parameterType="Activity" >
    insert into activity (id, update_time, create_time, 
      activity_name, activity_icon, activity_objects, 
      activity_platform_type, start_time, end_time, 
      detail_url, recommend_home, activity_award_rule, 
      features, flag_bit, status, 
      activity_intro)
    values (#{id,jdbcType=INTEGER}, #{updateTime,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP}, 
      #{activityName,jdbcType=VARCHAR}, #{activityIcon,jdbcType=VARCHAR}, #{activityObjects,jdbcType=CHAR}, 
      #{activityPlatformType,jdbcType=TINYINT}, #{startTime,jdbcType=TIMESTAMP}, #{endTime,jdbcType=TIMESTAMP}, 
      #{detailUrl,jdbcType=VARCHAR}, #{recommendHome,jdbcType=TINYINT}, #{activityAwardRule,jdbcType=VARCHAR}, 
      #{features,jdbcType=VARCHAR}, #{flagBit,jdbcType=BIGINT}, #{status,jdbcType=TINYINT}, 
      #{activityIntro,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="Activity" useGeneratedKeys="true" keyProperty="id">
    insert into activity
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="activityName != null" >
        activity_name,
      </if>
      <if test="activityIcon != null" >
        activity_icon,
      </if>
      <if test="activityObjects != null" >
        activity_objects,
      </if>
      <if test="activityPlatformType != null" >
        activity_platform_type,
      </if>
      <if test="startTime != null" >
        start_time,
      </if>
      <if test="endTime != null" >
        end_time,
      </if>
      <if test="detailUrl != null" >
        detail_url,
      </if>
      <if test="recommendHome != null" >
        recommend_home,
      </if>
      <if test="activityAwardRule != null" >
        activity_award_rule,
      </if>
      <if test="features != null" >
        features,
      </if>
      <if test="flagBit != null" >
        flag_bit,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="activityIntro != null" >
        activity_intro,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="activityName != null" >
        #{activityName,jdbcType=VARCHAR},
      </if>
      <if test="activityIcon != null" >
        #{activityIcon,jdbcType=VARCHAR},
      </if>
      <if test="activityObjects != null" >
        #{activityObjects,jdbcType=CHAR},
      </if>
      <if test="activityPlatformType != null" >
        #{activityPlatformType,jdbcType=TINYINT},
      </if>
      <if test="startTime != null" >
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="detailUrl != null" >
        #{detailUrl,jdbcType=VARCHAR},
      </if>
      <if test="recommendHome != null" >
        #{recommendHome,jdbcType=TINYINT},
      </if>
      <if test="activityAwardRule != null" >
        #{activityAwardRule,jdbcType=VARCHAR},
      </if>
      <if test="features != null" >
        #{features,jdbcType=VARCHAR},
      </if>
      <if test="flagBit != null" >
        #{flagBit,jdbcType=BIGINT},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
      <if test="activityIntro != null" >
        #{activityIntro,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="Activity" >
    update activity
    <set >
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="activityName != null" >
        activity_name = #{activityName,jdbcType=VARCHAR},
      </if>
      <if test="activityIcon != null" >
        activity_icon = #{activityIcon,jdbcType=VARCHAR},
      </if>
      <if test="activityObjects != null" >
        activity_objects = #{activityObjects,jdbcType=CHAR},
      </if>
      <if test="activityPlatformType != null" >
        activity_platform_type = #{activityPlatformType,jdbcType=TINYINT},
      </if>
      <if test="startTime != null" >
        start_time = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="detailUrl != null" >
        detail_url = #{detailUrl,jdbcType=VARCHAR},
      </if>
      <if test="recommendHome != null" >
        recommend_home = #{recommendHome,jdbcType=TINYINT},
      </if>
      <if test="activityAwardRule != null" >
        activity_award_rule = #{activityAwardRule,jdbcType=VARCHAR},
      </if>
      <if test="features != null" >
        features = #{features,jdbcType=VARCHAR},
      </if>
      <if test="flagBit != null" >
        flag_bit = #{flagBit,jdbcType=BIGINT},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="activityIntro != null" >
        activity_intro = #{activityIntro,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="Activity" >
    update activity
    set update_time = #{updateTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      activity_name = #{activityName,jdbcType=VARCHAR},
      activity_icon = #{activityIcon,jdbcType=VARCHAR},
      activity_objects = #{activityObjects,jdbcType=CHAR},
      activity_platform_type = #{activityPlatformType,jdbcType=TINYINT},
      start_time = #{startTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      detail_url = #{detailUrl,jdbcType=VARCHAR},
      recommend_home = #{recommendHome,jdbcType=TINYINT},
      activity_award_rule = #{activityAwardRule,jdbcType=VARCHAR},
      features = #{features,jdbcType=VARCHAR},
      flag_bit = #{flagBit,jdbcType=BIGINT},
      status = #{status,jdbcType=TINYINT},
      activity_intro = #{activityIntro,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>